<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your App</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aDRWsjiW5Fz20CphHGoSiH+IZBwb/RxaZlEafFEv2z6jnsPPm9wuAYbToi1t6jT" crossorigin="anonymous">
</head>
<body>
    <!-- Your Navbar and Content -->
    {% block content %}
    {% endblock %}

    <!-- Bootstrap JS with Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HoXa6wBRHj2BQGM90JFA7aN+4dYEmvn2VSFhOnJ9yzcEvDT8SRMxvlLVRnSI8R8Z" crossorigin="anonymous"></script>
</body>
</html>
